<div class="background">
   <br />
  <div class="booyah-box col-10 offset-1">
    <br />
    <h1 class="text-center" id='about-header'>About Chess Space</h1>
    <br />
    <p class="about-intro text-center">
      Chess Space is a fully functional chess application created by Raiiar-Services! for <a target="_blank" href="https://www.raiiar.com.ng/">fun</a> full-stack development curriculum by these Raiiar-Services Developers:
    </p>
    <br />

    <div class="row feature">
      <div class="col-12 col-sm">
        <%= image_tag 'miked.png', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Julius Olatokunbo</p>
        <p>
        Julius is the founder of <a href="https://www.raiiar.com.ng">Raiiar-Services</a>, an enterprise-wide emporium of quitisential, autistic developers that provide therapy through coding for consultants. Julius holds a first from London School of Economics (Economics, Linguistics & Computing). He can often be found at St. Martins-in-the-fields plesantly listening to a classical string quartet.</p>
        <div class="text-center">
          <%= link_to 'https://github.com/mdunnettstone' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.facebook.com/mike.dunnettstone' do %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/mdunnettstone/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>

      <div class="col-12 col-sm">
        <%= image_tag 'denise.jpg', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Tiberius Thoke</p>
        <p>
        Tiberius is an aspiring web developer with an emphasis on Ruby on Rails. With a Bachelor of Arts degree in Business Administration, most of his career has focused on accounting and financial anaylsis. Tiberius describes himself as an itinerant adventurer, world traveler, tree hugger and all around superb human being. </p>
        <div class="text-center">
          <%= link_to 'http://github.com/denisekelsey' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.facebook.com/denise.kelsey' do %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/denise-kelsey-91288354/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>

      <div class="col-12 col-sm">
        <%= image_tag 'Tristen.jpg', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Augustus Scheitle</p>
        <p>
        Augustus is a teacher-turned-techie with a passion for the intentional use of technology in education. His dream is to build meaningful experiential learning tools for students, and systems to assist teachers in their practice and help them better prepare young populations for responsible digital citizenship. Educational technology allows an infinite number of learning experiences to be accessible for those students who may not have access otherwise. Augustus also loves his pets. </p>
        <div class="text-center">
          <%= link_to 'http://github.com/tscheitle' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'www.linkedin.com/in/tristen-scheitle-5046b9120/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>

      <div class="col-12 col-sm">
        <%= image_tag 'monicaS.jpg', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Maximus Sirathanarun</p>
        <p>
        Maximus is a software developer with an interest in backend logic and infrastructure. Interested in how two logical human beings can end up holding opposite beliefs. Excited about progress, discovery, and being a part of it. </p>
        <div class="text-center">
          <%= link_to 'http://github.com/bellvat' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/monica-sirathanarun-a530688b/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>

  <div class="booyah-box col-10 offset-1 tools">
    <h5 class="text-center about-tools">Chess Space was built utilizing the following languages and tools: </h5>
    <br />
    <div class="icons">
      <%= image_tag 'github.png', class: 'icon' %>
      <%= image_tag 'rubocop.png', class: 'icon' %>
      <%= image_tag 'trello.png', class: 'icon' %>
      <%= image_tag 'slack.png', class: 'icon' %>
      <%= image_tag 'codeship.png', class: 'icon' %>

      <br class="clr" />
      <%= image_tag 'skills.png', class: 'icon' %>
    </div>
       <br />
  </div>

  <br />
</div>
